.react-datepicker {
  border-radius: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.react-datepicker__day--selected {
  background: #ffaa2b;
}

.react-datepicker__day--selected:hover {
  background: #ffaa2b;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background: #ffaa2b;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background: #ffaa2b;
}

.react-datepicker__day {
  border-radius: 0;
}

.react-datepicker__day:hover {
  border-radius: 0;
}

.react-datepicker-popper[data-placement$='end'] .react-datepicker__triangle {
  left: auto;
  right: 50px;
}
