@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

strong {
  font-weight: 500;
}
